.setWidth {
    width: 23%;
    float: left;
    margin-left: 20px;
}

.setButton {
    margin-top: 16px;
    margin-bottom: 20px;
}

.mgrRtBtn {
    margin-right: 20px;
}

.searchTeam {
    margin-bottom: 15px;
}